body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    /* padding: 7px 0; */
    margin-bottom: 10px;
    position: fixed;
    top: 0; 
    z-index: 1000;
}

nav ul {
    direction: ltr;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    color: white;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; /* Adjust for the height of the header */
}

.wheel {
    width: 600px;
    height: 600px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

.wheel div {
    height: 65%;
    width: 250px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 30%;
    bottom: 50%;
}

.segment.highlight {
    background-color: #ff0000; /* Highlight color */
    color: #fff; /* Text color for highlight */
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #e60808;
    text-align: center;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #a2a2a2;
    width: 100px;
    height: 100px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}

button:hover {
    background-color: #555;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
}

section {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

#about {
    text-align: center;
}


#results-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

#results-list li {
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 13px;
    border: 1px solid #888;
    width: 30%;
    max-width: 500px;
    text-align: center;
    font-size: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .wheel {
        width: 90%;
        height: auto;
        border-width: 10px;
    }

    .wheel div {
        width: 180px;
        font-size: 16px;
    }

    button {
        width: 80px;
        height: 80px;
        font-size: 16px;
        border-width: 6px;
    }
}

@media (max-width: 480px) {
    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .wheel {
        width: 80%;
        height: auto;
    }

    .wheel div {
        width: 150px;
        font-size: 14px;
    }

    button {
        width: 70px;
        height: 70px;
        font-size: 14px;
        border-width: 5px;
    }

    footer {
        font-size: 14px;
    }

    #results-list {
        font-size: 16px;
    }
}
